# {{ ansible_managed }}
[Interface]
Address = {{ wg_ip }}/{{wg_mask}}
PostUp = wg set %i private-key /etc/wireguard/{{wg_interface_name}}.privkey
ListenPort = {{wg_port}}

{{ wg_client_aditional_config }}

{% for c in ansible_play_hosts if hostvars[c].wg_mode == "server" -%}
[Peer]
PublicKey = {{ hostvars[c].pubkey }}
AllowedIPs = {{ hostvars[c].wg_ip }}
Endpoint = {{ hostvars[c].ansible_host }}:{{wg_port}}
PersistentKeepalive = {{wg_keepalive}}
AllowedIPs = {{ wg_ip }}/{{wg_mask}}
{% endfor %}


{% for c in groups[wg_nat_group] if ansible_hostname in groups[wg_nat_group] and c != inventory_hostname -%}
[Peer]
PublicKey = {{ hostvars[c].pubkey }}
AllowedIPs = {{ hostvars[c].wg_ip }}
Endpoint = {{ hostvars[c].ansible_host }}:{{wg_port}}
PersistentKeepalive = 60
AllowedIPs = {{ wg_ip }}
{% endfor %}
